on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: 'npm'
      - name: Install node dependencies
        run: npm ci --timing
      - name: Lint javascript
        run: npm run lint
      - name: Run tests
        # aa-exec applies Ubuntu's AppArmor profile for stable Chrome binaries to the Chrome for Testing binary downloaded by Puppeteer
        # Without it, Puppeteer fails with error "No usable sandbox!"
        # See https://pptr.dev/troubleshooting#issues-with-apparmor-on-ubuntu
        run: npm run test-site-dev & sleep 20; aa-exec --profile=chrome npm run cucumber
