on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: 'npm'
      - name: Install node dependencies
        run: npm ci --timing
      - name: Lint javascript
        run: npm run lint
  deploy_staging:
    needs:
      - build
    if: github.ref == 'refs/heads/master' && github.event_name != 'pull_request'
    uses: ./.github/workflows/deploy.yml