on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  create_draft_release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: 'npm'
      - name: Install node dependencies
        run: npm ci
      - name: Build distribution
        run: |
          npm run build
          tar -czvf dap-${{ github.ref_name }}.tar.gz dist
      - name: Create draft release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./create-draft-release.sh ${{ github.ref_name }} dap-${{ github.ref_name }}.tar.gz
