on:
  workflow_call:

jobs:
  # This 'deploy' job serves as a placeholder until we can set up automated deploys.
  # The job saves a distribution artifact that must be manually copied to our CDN.
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: 'npm'
      - name: Install node dependencies
        run: npm ci --timing
      - name: Build distribution
        run: npm run build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dap-distribution
          path: dist